body{
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 143, 32);
    margin: 50px 0px 0px 0px;
    width: 600px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px black;

}

#result{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px 20px 0px;
    width: 500px;
    height: 80px;
    color: rgb(78, 76, 76);
    border-radius: 8px;

}

#sortear{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 20px 0px 20px 0px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px black;
    
}

h1{

    margin: 15px 0px 0px 0px ;

}

#titulo{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px 0px;
    color: rgb(240, 143, 32);

}

.selection{

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.desenhos{
    background-color: rgb(240, 143, 32);
    width: 100px;
    height: 20px;
    margin: 30px 4px 0px 4px;
    border-radius: 8px;
    padding: 2px;
    color:rgb(255, 255, 255);
}

.filmes{
    background-color: rgb(240, 143, 32);
    width: 100px;
    height: 20px;
    margin: 30px 4px 0px 4px;
    border-radius: 8px;
    padding: 2px;
    color:rgb(255, 255, 255);
}